###  Show and connect with Databases

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C6CE80BA60>
('employees',)
('employeesdept_no',)
('hbo_data',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sales',)
('student',)
('sys',)

###  Use Create Command

In [12]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if NOT EXISTS test_db")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C6CF209CD0>

###  Show Databases

In [25]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
  print(x)
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C6CF2149A0>
('employees',)
('employeesdept_no',)
('hbo_data',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sales',)
('student',)
('sys',)
('test_db',)

###  Create Table

In [24]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute('Create table if not exists test_db.table_1(c1 INT , c2 VARCHAR(50),c3 FLOAT, c4 INT, c5 VARCHAR(30))')
mydb.close()

### Insert Values in Table Created

In [33]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("insert into test_db.table_1 values(123,'harry',213.23,233,'leon')")
mydb.commit()
mydb.close()

### Show data from table

In [37]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute('select * from test_db.table_1')
for i in mycursor:
    print(i)
mydb.close()

(123, 'harry', 213.23, 233, 'leon')

In [39]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute('select * from test_db.table_1')
for i in mycursor.fetchall():
    print(i)
mydb.close()

(123, 'harry', 213.23, 233, 'leon')
(1233, 'harry', 243.23, 2, 'leon')
(1222, 'rohan', 253.23, 33, 'FGS')
(1276, 'jessica', 113.233, 233, 'Lordas')
(1237, 'Tom', 213.43, 2332, 'jkdsk')
(1232, 'Harvy', 412.23, 213, 'sds')
(1252, 'John', 2233.23, 22, 'SDM')

###  Multiple Insert

In [38]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("insert into test_db.table_1 values(1233,'harry',243.23,2,'leon')")
mycursor.execute("insert into test_db.table_1 values(1222,'rohan',253.23,33,'FGS')")
mycursor.execute("insert into test_db.table_1 values(1276,'jessica',113.233,233,'Lordas')")
mycursor.execute("insert into test_db.table_1 values(1237,'Tom',213.43,2332,'jkdsk')")
mycursor.execute("insert into test_db.table_1 values(1232,'Harvy',412.23,213,'sds')")
mycursor.execute("insert into test_db.table_1 values(1252,'John',2233.23,22,'SDM')")
mydb.commit()
mydb.close()

In [40]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute('select * from test_db.table_1')
for i in mycursor.fetchall():
    print(i)
mydb.close()

(123, 'harry', 213.23, 233, 'leon')
(1233, 'harry', 243.23, 2, 'leon')
(1222, 'rohan', 253.23, 33, 'FGS')
(1276, 'jessica', 113.233, 233, 'Lordas')
(1237, 'Tom', 213.43, 2332, 'jkdsk')
(1232, 'Harvy', 412.23, 213, 'sds')
(1252, 'John', 2233.23, 22, 'SDM')

### Selecting Particulars columns

In [41]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute('select c1,c4,c3 from test_db.table_1')
for i in mycursor.fetchall():
    print(i)
mydb.close()

(123, 233, 213.23)
(1233, 2, 243.23)
(1222, 33, 253.23)
(1276, 233, 113.233)
(1237, 2332, 213.43)
(1232, 213, 412.23)
(1252, 22, 2233.23)