### MongoDb cloud version is known as Atlas

In [1]:
import pymongo

In [3]:

client = pymongo.MongoClient("mongodb+srv:/uqopdhq.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
db

Database(MongoClient(host=['ac-tld2du8-shard-00-01.uqopdhq.mongodb.net:27017', 'ac-tld2du8-shard-00-00.uqopdhq.mongodb.net:27017', 'ac-tld2du8-shard-00-02.uqopdhq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-eu15nk-shard-0', tls=True), 'test')

### Creating a Database

In [6]:
db = client['db1']

In [7]:
data = {
    'name':'Harry',
    'Roll_no':232,
    'class':'Data science masters'
}

###  Creating a Collection similar as Table in RDBMS

In [8]:
coll_db1 = db["my_records"]

###  Inserting data in collection

###  Inserting single record

In [9]:
coll_db1.insert_one(data)

In [10]:
data1 = {
    "mail_id":"abc@gmail.com",
    "mob":92393022,
    "addr":"mumbai"
}

In [11]:
coll_db1.insert_one(data1)

###  Inserting multiple record

In [12]:
data2 =[
    { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [13]:
coll_db1.insert_many(data2)

In [14]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [16]:
coll_db1.insert_one(data3)

In [17]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [18]:
coll_db1.insert_many(list_of_records)

###  Find or Look data

In [19]:
coll_db1.find_one()

{'_id': ObjectId('64258bf7318f69d79823f31e'),
 'name': 'Harry',
 'Roll_no': 232,
 'class': 'Data science masters'}

### Print all the data

In [21]:
for i in coll_db1.find():
    print(i)

{'_id': ObjectId('64258bf7318f69d79823f31e'), 'name': 'Harry', 'Roll_no': 232, 'class': 'Data science masters'}
{'_id': ObjectId('64258c9a318f69d79823f31f'), 'mail_id': 'abc@gmail.com', 'mob': 92393022, 'addr': 'mumbai'}
{'_id': ObjectId('64258df9318f69d79823f320'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64258df9318f69d79823f321'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64258df9318f69d79823f322'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64258df9318f69d79823f323'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64258df9318f69d79823f324'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64258df9318f69d79823f325'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64258df9318f69d79823f326'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64258df9318f69d79823f327'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64258df9318f69d79823f328'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64258df9318f69d79823f329'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64258df9318f69d79823f32a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64258df9318f69d79823f32b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64258e8d318f69d79823f32c'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64258f30318f69d79823f32d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64258f30318f69d79823f32e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64258f30318f69d79823f32f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

###  Find any particular record

In [23]:
for i in coll_db1.find({'name':"Harry"}):
    print(i)

{'_id': ObjectId('64258bf7318f69d79823f31e'), 'name': 'Harry', 'Roll_no': 232, 'class': 'Data science masters'}

In [24]:
for i in coll_db1.find({'product': 'Affordable AI'}):
    print(i)

{'_id': ObjectId('64258f30318f69d79823f32d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64258f30318f69d79823f32e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

In [25]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [26]:
coll_db1.insert_many(random_data)

In [29]:
for i in coll_db1.find():
    print(i)

{'_id': ObjectId('64258bf7318f69d79823f31e'), 'name': 'Harry', 'Roll_no': 232, 'class': 'Data science masters'}
{'_id': ObjectId('64258c9a318f69d79823f31f'), 'mail_id': 'abc@gmail.com', 'mob': 92393022, 'addr': 'mumbai'}
{'_id': ObjectId('64258df9318f69d79823f320'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64258df9318f69d79823f321'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64258df9318f69d79823f322'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64258df9318f69d79823f323'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64258df9318f69d79823f324'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64258df9318f69d79823f325'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64258df9318f69d79823f326'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64258df9318f69d79823f327'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64258df9318f69d79823f328'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64258df9318f69d79823f329'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64258df9318f69d79823f32a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64258df9318f69d79823f32b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64258e8d318f69d79823f32c'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64258f30318f69d79823f32d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64258f30318f69d79823f32e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64258f30318f69d79823f32f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

### Applying a filter , here gte mean greater than equal to

In [32]:
for i in coll_db1.find({"_id": {"$gte":'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

 ### Update the records

###  set after dollar sign is used to update the record

In [34]:
coll_db1.update_many({'companyName':'iNeuron'},{"$set":{'companyName':'Data Science Masters'}})

In [35]:
for i in coll_db1.find():
    print(i)

{'_id': ObjectId('64258bf7318f69d79823f31e'), 'name': 'Harry', 'Roll_no': 232, 'class': 'Data science masters'}
{'_id': ObjectId('64258c9a318f69d79823f31f'), 'mail_id': 'abc@gmail.com', 'mob': 92393022, 'addr': 'mumbai'}
{'_id': ObjectId('64258df9318f69d79823f320'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64258df9318f69d79823f321'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64258df9318f69d79823f322'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64258df9318f69d79823f323'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64258df9318f69d79823f324'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64258df9318f69d79823f325'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64258df9318f69d79823f326'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64258df9318f69d79823f327'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64258df9318f69d79823f328'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64258df9318f69d79823f329'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64258df9318f69d79823f32a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64258df9318f69d79823f32b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64258e8d318f69d79823f32c'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64258f30318f69d79823f32d'), 'companyName': 'Data Science Masters', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64258f30318f69d79823f32e'), 'companyName': 'Data Science Masters', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64258f30318f69d79823f32f'), 'companyName': 'Data Science Masters', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'Data Science Masters', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'Data Science Masters', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Data Science Masters', 'Faculty': 'PQR'}

In [ ]:
coll_db1.